th, td {
    border-radius: 20px;
    text-align: center;
  }
  table {
    margin-left: auto;
    margin-right: auto;
    word-wrap: normal;
    width: 250px;
    border: 1px solid white;
    border-radius: 20px;
  }
  .cara {
    text-align: left;
    height: 15px;
    width: 230;
    border-radius: 5px;
    transition: width 1s;
    
  }
  .caraP {
    width: 0px;
  }
  .imgS {
    border-radius: 20px;
    margin-left: 0%; 
    margin-right: 0%;
    width: 200px;
    height: auto;
  }
  .imgR {
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .buttonS{
    height: 29px;
    width: 80px;
    
  }
  body {
    background-color: black;
    color: white;
  }
  
  .a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  .a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  .a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  .a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  .jmenoPisnicky:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  .jmenoPisnicky:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  .jmenoPisnicky:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  .jmenoPisnicky:active {
    color: lightblue;
    background-color: transparent;
    text-decoration: underline;
  }